@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
    font-family: 'Varela Round', sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
}

.side-panel {
    margin: 10px;
    min-width: 15%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
}

.repo-list {
    list-style: none;
}

.repo-list>li:hover {
    background-color: #ff484285;
    cursor: pointer;
}

.repo-panel {
    display: none;
}

.repo-panel.show {
    display: block;
    margin: 10px;
    min-width: 70%;
    position: relative;
}

.commit-btn {
    display: none;
}

.commit-btn.show {
    display: block;
}

.health-status-icon {
    border-radius: 50%;
    color: white;
}

.health-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    max-width: 100px;
    margin: 10px;
    padding: 10px;
}

.health-label {
    margin-right: 2px;
    color: white;
}

.add-repo-form {
    display: none;
}

.add-repo-form.show {
    display: block;
}


/* CSS */

.btn-simple {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-simple:hover,
.btn-simple:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn-simple:active {
    opacity: .5;
}

.active-repo {
    background-color: #ff4842a4;
}

.repo-details {
    margin-bottom: 35px;
}


/* .commits-list {
    display: none;
} */

.repo-selected-info.show {
    padding: 5px;
    margin: 5px;
    display: block;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.commit-details {
    padding: 5px;
    margin: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.issues-details {
    padding: 5px;
    margin: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.search-box {
    position: absolute;
    right: 10px;
    margin-bottom: 10px;

}

.sort-by {
    margin-right: 20px;
}